/*Aqui va el comentario */
/*
Rosa: #C6246E
Morado: #642B73
Negro: #999
Gris: #f5f5f5
Rosa: #d500f9
*/
html {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: #d500f9;
}

a:hover {
  opacity: 0.6;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.container {
  background: #642b73; /* Respaldo */
  background: -webkit-linear-gradient(to right, #c6426e, #642b73);
  background: linear-gradient(to right, #c6426e, #642b73);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /*box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color;*/
  /*box-shadow: 0 3px 6px #000;*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;
}

.actions {
  position: absolute;
  top: 1em;
  right: 1em;
}

.close {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50px;
  background-color: #642b73;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  line-height: 1.8em;
  font-weight: 300;
}

.fa-star {
  color: #ffc400;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table td,
.table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f3e5f5;
}

.title-item {
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #c6426e;*/
  border-bottom: solid 2px #c6426e;
  padding-bottom: 1em;
}

.position {
  background-color: #c6426e;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.animate__fadeInDown {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
}
