/*Aqui va el comentario */
/*
Rosa: #C6246E
Morado: #642B73
Negro: #999
Gris: #f5f5f5
*/
.container {
  background: #642b73; /* Respaldo */
  background: -webkit-linear-gradient(to right, #c6426e, #642b73);
  background: linear-gradient(to right, #c6426e, #642b73);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.red {
  height: 200px;
  width: 100px;
  background-color: red;
}
#boton-pago {
  background-color: yellow;
}

td {
  border: solid 1px;
}
